--- 
--- 

html {
  position: relative;
  font-family: Open Sans, Arial;
  background-color: rgb(46, 34, 34);
  color: #acacac;
}

#content {
  margin: 2em;
  text-align: justify;
}

nav {
  margin: 0;
  padding: 0;
}

footer {
  padding: 25px 0 0 10px ;
  font-size: 0.7em;
  line-height: 0.7;
}

a {
  color: #0077aa;
}

a:visited {
  color: #941352;
}

.faq {
  h3 {
    padding-left: 10px;
    padding-top: 10px;
  }

  p {
    padding-left: 25px;
  }

  line-height: 0.6em;
}